@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom hamburger menu styling */
.hamburger {
    cursor: pointer;
    z-index: 50;
}

.hamburger input {
    display: none;
}

.hamburger svg {
    height: 3em;
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 50;
}

.line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
    transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

/* Custom slide-down animation */
@keyframes slide-down {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

.slide-down {
    animation: slide-down 0.7s ease-in-out forwards;
}

/* Z-index fixes */
.z-50 {
    z-index: 50;
}

.z-40 {
    z-index: 40;
}

.nav-item {
    position: relative;
    overflow: hidden;
    display: inline-block; /* Ensures that each list item behaves independently */
  }
  
  .nav-item span {
    display: block;
    transition: transform 0.5s ease-in-out;
  }
  
  .nav-text-one {
    position: relative;
    transform: translateY(0);
  }
  
  .nav-text-two {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
  }
  
  .nav-item:hover .nav-text-one {
    transform: translateY(-100%);
  }
  
  .nav-item:hover .nav-text-two {
    transform: translateY(0);
  }
  
  /* Z-index fixes */
  .z-50 {
    z-index: 50;
  }
  
  .z-40 {
    z-index: 40;
  }



  

  /* From Uiverse.io by zjssun */ 
.button {
    position: relative;
    padding: 10px 22px;
    border-radius: 999px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #2a2a2a;
    transition: all 0.2s ease;
  }
  
  .button:active {
    transform: scale(0.96);
  }
  
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #2a2a2a 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #2a2a2a 20%, transparent 30%),
      radial-gradient(circle, #2a2a2a 20%, transparent 20%),
      radial-gradient(circle, #2a2a2a 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #2a2a2a 15%, transparent 20%),
      radial-gradient(circle, #2a2a2a 20%, transparent 20%),
      radial-gradient(circle, #2a2a2a 20%, transparent 20%),
      radial-gradient(circle, #2a2a2a 20%, transparent 20%),
      radial-gradient(circle, #2a2a2a 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #2a2a2a 20%, transparent 20%),
      radial-gradient(circle, #2a2a2a 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #2a2a2a 15%, transparent 20%),
      radial-gradient(circle, #2a2a2a 20%, transparent 20%),
      radial-gradient(circle, #2a2a2a 20%, transparent 20%),
      radial-gradient(circle, #2a2a2a 20%, transparent 20%),
      radial-gradient(circle, #2a2a2a 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }


  #cursor {
    animation: blink 1.2s steps(1) infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
    
}






/* From Uiverse.io by cssbuttons-io */ 
.button-2 {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #fff;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    cursor: pointer;
    color: white;
    z-index: 1;
  }
  
  .button-2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button-2:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .button-2:hover {
    color: #ffffff;
    border: 1px solid #39bda7;
  }
  
  .button-2:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .button-2:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  


/* Keyframes for smooth rotation */
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  /* CSS class to apply the rotation animation */
  .rotate-animation {
    animation: rotate 10s linear infinite;
  }


/*Sliding text*/
.marquee {
  overflow: hidden;
  position: relative;
  width: 100%; /* Ensures the marquee takes the full width */
  height: 100px; /* Adjust the height as needed */
}

.track {
  position: absolute;
  white-space: nowrap;
  animation: marquee 25s linear infinite;
}

@keyframes marquee {
  from { transform: translateX(100%); }
  to { transform: translateX(-100%); }
}

